<h2 mat-dialog-title>{{data ? 'Kartviziti Düzenle' : 'Yeni Kartvizit'}}</h2>
<mat-dialog-content class="mat-typography">
  <div *ngIf="showSpinner">
    <mat-progress-bar mode="query"></mat-progress-bar>
    <br>
  </div>
  
  <form [formGroup]="cardForm">
    <mat-form-field class="example-full-width">
      <mat-label>İsim</mat-label>
      <input matInput placeholder="Adınızı giriniz" formControlName="name">
    </mat-form-field>
    <mat-form-field class="example-full-width" >
      <mat-label>Ünvan</mat-label>
      <input matInput placeholder="Ünvanınızı giriniz" formControlName="title">
    </mat-form-field>    
    <mat-form-field class="example-full-width">
      <mat-label>Telefon</mat-label>
      <input matInput placeholder="Telefon numaranızı giriniz." formControlName="phone">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Mail adresinizi giriniz" formControlName="email">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Adres</mat-label>
      <textarea matInput placeholder="Adresinizi giriniz" formControlName="address"></textarea>
    </mat-form-field>
</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div class="flex-grow-1 text-start" *ngIf="data">
      <button mat-stroked-button color="warn" (click)="deleteCard()" [disabled]="showSpinner">Sil</button>
  </div>
  <div>
      <button mat-button mat-dialog-close>Vazgeç</button>
      <button mat-flat-button color="primary" 
      (click)="data ? updateCard() : addCard()"
      [disabled]="cardForm.invalid || showSpinner">
        {{data ? 'Düzenle' : 'Ekle'}}    
      </button>
  </div>
</mat-dialog-actions>

